[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
spacy = "*"
seaborn = "*"
matplotlib = "*"
fastai = "*"
tweepy = "*"
ipykernel = "*"

[dev-packages]
ipykernel = "*"
dvc = {extras = ["gdrive"], version = "*"}

[requires]
python_version = "3.9"
